/************** Custom Properties ***************/
/* Google Fonts - start */
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap"); /* titulos */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"); /* subtitulos y demas */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
/* Google Fonts - end */

:root {
  --orange-color: #ff9d00;
  --orange-hover-color: #fd7c19;
  --blue-text-color: #125E8A;
  --popIcon-color: #41D3BD;


  --white-color: #ffffff;
  --black-color: #000000;

  --title: "Lora";
  --other: "Nunito";
}
/************** Custom Properties ***************/


/************** media query MOBILE/TABLET - start ***************/
@media only screen and (max-width: 991px) {
  .aboutTitle{ /* titulos con texto azul */
    font-family: var(--title);
    font-style: normal;
    font-weight: 500;
    font-size: 16px !important;
    line-height: 24px !important;
    
    text-align: center;
    color: var(--blue-text-color) !important;
    
    margin-top: 56px !important;
  }
  
  .aboutImgMobile{ /* imagen de 04 personas en vista mobile */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .aboutIntro{ /* texto debajo de imagen anterior */
    font-family: var(--other);
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 17px !important;
    
    text-align: center;
    letter-spacing: 0.025em !important;
    
    color: var(--black-color);
    margin: 58px 21px 88px 21px !important;
  }
  
  .carouselImgMobile{ /* imagen del carousel */
    height: 129px;
    width: 102px;
    margin-top: 36px;
    margin-bottom: 250px;
  }
  
  .aboutSubTitle{ /* subtitulo de carousel */
    font-family: var(--other);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
  
  .aboutDescription{ /* descripcion del carousel */
    font-family: var(--other);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }
  
  .carouselAll{ /* para espaciado entre carousel y footer */
    margin-bottom: 102px;
  }
  
  .aboutBtn{
    background-color: var(--orange-color);
    border: 1px solid var(--orange-color);
    border-radius: 8px;
    color: var(--black-color);
    
    font-family: var(--other);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    
    width: 136px;
    height: 40px;
  }
  
  .aboutBtn:hover{
    background-color: var(--orange-hover-color);
    border: 1px solid var(--orange-hover-color);
  }
  
  .mobileHidden{
    display: none;
  }
  
  
}
/************** media query MOBILE/TABLET - end ***************/


/************** About us Desktop - start ***************/
  .aboutTitle{ /* titulos con texto azul */
    font-family: var(--title);
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    
    text-align: center;
    color: var(--blue-text-color);
    
    margin-top: 115px;
  }
  
  .aboutImgDesk{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .aboutIntro{
    font-family: var(--other);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    
    text-align: center;
    
    color: var(--black-color);
    margin: 136px 91px 79px 119px;
  }
  
  .team{
    padding-top: 103px;
    margin-bottom: 197px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .teamImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-bottom: 60px;
    border-radius: 50%;
  }
  
  .teamTitle{
    font-family: var(--title);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    
    color: var(--blue-text-color);
  }
  
  .teamSubTitle{
    font-family: var(--other);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    
    text-align: center;
    color: var(--black-color);
    
    padding-bottom: 20px;
  }
  
  .teamDescription{
    font-family: var(--other);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    
    text-align: center;
    color: var(--black-color);
    
    width: 300px;
    
    padding-bottom: 20px;
  }
  
  .teamBtn{
    font-family: var(--other);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    
    text-align: center;
    color: var(--black-color);
    
    width: 200px;
    height: 60px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 15px;
    
    background-color: var(--orange-color);
    border: 1px solid var(--orange-color);
    border-radius: 10px;
    color: var(--black-color);
  }
  
  .teamBtn:hover{
    background-color: var(--orange-hover-color);
    border: 1px solid var(--orange-hover-color);
  }
  
  .deskHidden{
    display: none;
  }
  
  /* Popper Js - start */
  #tooltip {
    background-color: var(--white-color);
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    
    display: none;
    
    padding: 25px 36px 40px 0px;
    border: 1px solid var(--blue-text-color);
  }
  
  #tooltip[data-show] {
    display: block;
  }
  
  .popTitle{
    font-family: var(--title);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    
    color: var(--blue-text-color);
    
    margin-left: 36px;
    margin-bottom: 36px;
  }
  
  .popIcon{
    color: var(--popIcon-color);
    background-color: var(--white-color);
    
    border: 1px solid var(--white-color);
    
    margin-left: 57px;
    font-size: 2rem;
    display: inline;
    
    padding: 0 25px 0 0;
  }
  
  .popText{
    font-family: var(--other);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    
    color: var(--black-color);
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 6px;
    padding: 0;
  }
  
  .input-group{
    height: 43px;
  }
  
  /* Popper Js - end */
/************** About us Desktop - end ***************/