@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin-top: 60px;
  margin-bottom: 40px;
  color: #125e8a;
  max-width: 600px;
  font-size: 16px;
  font-family: "Lora";
  font-style: normal;
  text-align: center;
}
.image {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  h1 {
    font-size: 38px;
  }
}
