@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap");
.btnGoBack {
  background-color: transparent;
  border: none;
}
.arrowOrange {
  width: 36px;
  margin-top: 32px;
  margin-left: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin-top: 60px;
  margin-bottom: 40px;
  color: #125e8a;
  max-width: 340px;
  font-size: 16px;
  font-family: "Lora";
  font-style: normal;
  text-align: center;
}
.image {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .arrowOrange {
    width: 48px;
    margin-top: 54px;
    margin-left: 70px;
  }
  h1 {
    font-size: 38px;
    max-width: 600px;
  }
}
