@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin-top: 40px;
  margin-bottom: 25px;
  color: #125e8a;
  width: 100%;
  max-width: 300px;
  font-size: 16px;
  font-family: "Lora";
  font-style: normal;
  text-align: center;
}
.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnCta {
  width: 150px;
  height: 36px;
  border: none;
  background-color: #41d3bd;
  border-radius: 12px;
}
.btnCta p {
  font-family: "Nunito";
  font-size: 14px;
  margin: 0px;
  padding: 8px 20px;
  font-weight: 700;
}
.img-home {
  width: 100%;
  min-width: 300px;
}
h2 {
  font-family: "Lora";
  color: #125e8a;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 16px;
}
.h2-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tags {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}
.li-home {
  justify-content: center;
}
.li-home li {
  border: none;
  background-color: #ffd5a6;
  border-radius: 16px;
  width: 100px;
  font-size: 12px;
  font-family: "Nunito";
  font-weight: 700;
  height: auto;
  text-align: center;
  padding: 5px 15px;
  margin: 12px 10px;
}
.h3andCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3 {
  font-family: "Lora";
  color: #125e8a;
  margin-top: 50px;
  font-weight: 500;
  margin-bottom: 22px;
  font-size: 16px;
}
.subtitle {
  font-family: "Nunito";
  color: #125e8a;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  max-width: 250px;
  text-align: center;
  line-height: 17.5px;
  margin-bottom: 15px;
}
.createbtn {
  width: 160px;
  border: none;
  background-color: #41d3bd;
  border-radius: 12px;
  margin-bottom: 31px;
  text-align: center;
}
.createbtn p {
  font-family: "Nunito";
  font-size: 14px;
  margin: 0px;
  padding: 8px 10px;
  color: black;
  font-weight: 700;
}
.card {
  background-color: #ff9d00;
  width: 330px;
  height: max-content;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.ttl-next {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ttl-next p {
  font-size: 14px;
  font-family: "Nunito";
  font-weight: 600;
  margin: 20px 0px 0px 20px;
  order: 1;
}
h4 {
  font-size: 18px;
  font-family: "Lora";
  font-weight: 700;
  margin-left: 20px;
  margin-bottom: 0px;
  order: 2;
  color: #031d44;
}
a {
  text-decoration: none;
}
.ttl-next a {
  margin: 22px 42px 22px 0px;
  padding: 0px;
}
.li-project {
  margin: 10px 15px 20px 15px;
  order: 4;
}
.li-project li {
  border: none;
  color: white;
  background-color: #125e8a;
  border-radius: 65px;
  width: 100px;
  font-size: 14px;
  font-family: "Nunito";
  font-weight: 700;
  height: auto;
  text-align: center;
  padding: 5px 15px;
  margin-bottom: 5px;
}
.card-descrip p {
  font-size: 14px;
  line-height: 14px;
  font-family: "Nunito";
  text-align: justify;
  font-weight: 400;
  margin: 5px 20px 0px 20px;
  order: 3;
}
.card-descrip-more {
  display: none;
}
.applProj {
  display: none;
}
h6 {
  color: #125e8a;
  font-size: 16px;
  font-family: "Lora";
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 0px;
}
.applProj img {
  width: 16px;
  height: 16px;
  margin-left: 12px;
}
.applybtn {
  width: 160px;
  border: none;
  background-color: #41d3bd;
  border-radius: 12px;
  margin-bottom: 31px;
  text-align: center;
}
.applybtn p {
  font-family: "Nunito";
  font-size: 14px;
  margin: 0px;
  padding: 8px 10px;
  color: black;
  font-weight: 700;
}
.img-designer,
.img-PM {
  display: none;
}
@media (min-width: 768px) {
  h1 {
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 38px;
    max-width: 800px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 0.5fr);
  }
  .btnCta {
    width: 186px;
    height: 51px;
    justify-self: center;
    grid-area: 1 / 1 / 3 / 2;

    z-index: 10;
    align-self: start;
  }
  .btnCta p {
    padding: 0px 40px;
    font-size: 18px;
  }
  .img-home {
    grid-area: 1 / 1 / 4 / 2;
    max-width: 1000px;
  }
  .li-home li {
    width: 186px;
    font-size: 22px;
    font-family: "Nunito";
    font-weight: 700;
    height: auto;
    text-align: center;
    padding: 5px 15px;
    margin: 0px 0px 10px 25px;
  }
  .card {
    width: 100%;
    max-width: 500px;
    height: max-content;
    box-shadow: none;
  }
  h2 {
    font-size: 36px;
    margin-bottom: 46px;
  }
  h3 {
    margin-top: 0px;
    margin-bottom: 27px;
    font-size: 34px;
  }
  .subtitle {
    font-weight: 400;
    font-size: 24px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 27px;
  }
  .createbtn {
    width: 100%;
    max-width: 294px;
    border-radius: 15px;
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;
    order: 6;
  }
  .createbtn p {
    font-size: 18px;
    margin: 0px;
    padding: 12px 0px;
  }
  .applybtn {
    width: 100%;
    max-width: 294px;
    border-radius: 15px;
    margin-top: 60px;
    margin-bottom: 0px;
    order: 6;
  }
  .applybtn p {
    font-size: 18px;
    margin: 0px;
    padding: 12px 0px;
  }
  .columnH3-img {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
  }
  .h3andCard {
    width: 50%;
  }
  .h3NCardNImgDes {
    order: 2;
    margin-right: 15px;
  }
  .img-designer {
    order: 1;
  }
  .h3NCardNImgPM {
    margin-left: 15px;
  }
  .img-designer,
  .img-PM {
    display: block;
    width: 50%;
    max-width: 550px;
  }
  .li-project {
    order: 3;
    margin: 10px 50px 20px 50px;
  }
  .card-descrip {
    order: 4;
    margin-right: 30px;
    margin-left: 30px;
  }
  .card-descrip p {
    font-size: 18px;
  }
  .card-descrip-more {
    display: block;
  }
  .ttl-next a {
    display: none;
  }
  .ttl-next p {
    font-size: 16px;
    margin-top: 40px;
    margin-left: 50px;
  }
  h4 {
    font-size: 24px;
    margin-left: 50px;
  }
  .applProj {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 50px 50px 0px;
    align-self: end;
    order: 5;
  }
}
