/* Google Fonts - start */
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap"); /* titulos */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"); /* subtitulos y demas */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
/* Google Fonts - end */

/************** Custom Properties ***************/
:root {
  /* Navbar sin botones - start */
  --navbar-bg-color: #125e8a;
  --navbar-hover-color: #155479;

  --green-color: #41d3bd;
  --orange-color: #ff9d00;

  --navbar-font: "DM Serif Display", "Bebas Neue";
  --navbar-max-width: 1280px;
  --navbar-header-height: 72px;
  /* Navbar sin botones - end */

  /* Navbar con botones - start */
  --white-color: #ffffff;
  --black-color: #000000;

  --navbar-font-cb: "Nunito";
  --navbar-font-buscar: "Nunito";
  /* Navbar con botones - end */
}
/************** Custom Properties ***************/

/* Navbar sin botones - start */
/* Bootstrap navbar - start */
.navbar,
.navbar-brand,
.container-fluid {
  padding: 0; /* default padding en CERO  */
}

.container-fluid {
  height: var(--navbar-header-height); /* altura del navbar */
}
/* Bootstrap navbar - end */

nav,
.navbg,
#navbarText {
  background-color: var(--navbar-bg-color); /* color de fondo del navbar */
}
.navbar-brand {
  display: flex;
  flex-direction: row;
  font-size: 24px;
}
#logonsb {
  /* Logo del navbar */
  margin: 8px 5px 10px 38px;
}

.textnsb {
  /* texto grupal: COLAB ORANGE */
  font-family: var(--navbar-font);
  font-weight: 400;
  font-style: normal;
  font-size: 24px;

  vertical-align: middle;
  padding: 26px 0px;
}
/* Navbar sin botones - end */

/************** Navbar con botones - start ***************/

.textncb {
  /* texto CREAR UN PROYECTO / BUSCAR UN PROYECTO */
  color: var(--white-color) !important;

  font-family: var(--navbar-font-cb);
  font-weight: 500;
  font-style: normal;
  font-style: 18px;
  line-height: 20px;

  padding-left: 20px !important;
  padding-right: 20px !important;
}

#textbtn {
  /* texto INICIAR SESION */
  color: var(--black-color);
  background-color: var(--green-color);

  font-family: var(--navbar-font-cb);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  margin-right: 20px;
  padding: 9px 15px;

  border: 0px solid var(--green-color);
  border-radius: 15px;

  vertical-align: middle;
}

#buscar {
  /* texto INPUT BUSCAR */
  width: 100%;
  font-family: var(--navbar-font-buscar);
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
}

#txtbuscar {
  color: var(--black-color);
  border-top-left-radius: 15px; /* solo border top-bottom left */
  border-bottom-left-radius: 15px;

  border: 0px solid var(--white-color);
}

#txtbuscar::placeholder {
  /* texto del placeholder del INPUT BUSCAR */
  color: var(--navbar-bg-color);
}

#basic-addon2 {
  /* icono Lupa - search bar */
  border-top-right-radius: 15px; /* solo border top-bottom right */
  border-bottom-right-radius: 15px;

  border: 0px solid var(--white-color);
  background-color: var(--white-color);
}

#basic-addon2 > i {
  /* color de icono lupa */
  color: var(--navbar-bg-color);
}

.textncb:hover {
  /* hover de CREAR UN PROYECTO / BUSCAR UN PROYECTO */
  background-color: var(--navbar-hover-color);
}

.deskHidden {
  display: none !important;
}

.hideLogOut {
  display: none;
}

/* media query MOBILE/TABLET - start */
@media only screen and (max-width: 991px) {
  .navbar-brand {
    font-size: 14px;
  }
  .textncb {
    /* margin-bottom: 5px; */
    margin: 0 !important;
    padding: 0 !important;

    padding-left: 25px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    color: var(--white-color);

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }

  #textbtn {
    display: inline;
    margin-left: auto;
    text-align: left !important;
  }

  .mobileHidden {
    /* elementos ocultos solo en la vista mobile */
    display: none !important;
  }

  #logonsb {
    /* tamaño del logo naranja */
    width: auto !important;
    height: 24px !important;

    margin-left: 12px !important;
    margin-right: 9px !important;
  }

  .textnsb {
    /* texto grupal: COLAB ORANGE */
    font-family: var(--navbar-font);
    font-weight: normal;
    font-style: normal;
    font-size: 14px;

    padding: 0 !important;
  }

  .deskHidden {
    /* elementos que son visibles solo en la vista mobile */
    display: block !important;
  }

  .navMobile {
    display: flex !important;
    justify-content: flex-start !important;
    height: 56px !important;
  }

  .custom-toggler.navbar-toggler {
    border-color: var(--navbar-bg-color);
  }

  #buscar {
    width: 0% !important;
    padding: 0 !important;
    height: 32px !important;
    display: flex !important;
  }

  #txtbuscar {
    width: 20% !important;
    height: 32px !important;

    font-family: var(--navbar-font-buscar);
    font-weight: 400 !important;
    font-style: normal;
    font-size: 14px !important;
    line-height: 17.5px !important;
  }

  .spanLupa {
    width: 50px !important;
    height: 32px !important;
    margin: 0 !important;
  }

  .iconoLupa {
    color: var(--white-color);
    padding-left: 130px !important;
  }

  .xTag {
    display: none !important;
    margin: 4px 4px;
  }
  
  .logoHidden{
    margin: 8px 9px 10px 12px;
    display: none !important;
  }
}
/* media query MOBILE/TABLET - end */

/************** Navbar con botones - end ***************/
