/************** Custom Properties ***************/
:root {
  --orange-color: #ff9d00;

  /* Publicacion de proyecto - start */
  --white-color: #ffffff;
  --black-color: #000000;
  --formInput-color: #696871;
  --pub-formInput-bg-color: #ffe7ba;
  --pub-formBtn-color: #031d44;
  --pub-formBtn-hover-color: #fd7c19;
  --pub-title-color: #125e8a;

  --pub-font-title: "Lora";
  --pub-font-formInput: "Nunito";

  /* Publicacion de proyecto - end */
}
/************** Custom Properties ***************/

/************** Versión mobile Publicacion de proyecto - start ***************/
.btnGoBack {
  background-color: transparent;
  border: none;
  margin: 32px 0px 0px 20px;
}
#pubTitle {
  /* titulo: ¿De que trata tu proyecto? */
  font-family: var(--pub-font-title);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
  color: var(--pub-title-color);
}
#pubColumn {
  /* division en columnas Formulario / imagen */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px; /* distancia entre Titulo y Formulario */
  margin-bottom: 116px;
}
#pubColumn > form {
  /* formulario */
  order: 2;
  width: 100%;
  max-width: 320px;
  padding: 0px;
}
#pubColumn > form > div > label {
  /* todos los form label */
  color: var(--black-color);
  font-family: var(--pub-font-formLabel);
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 17.5px;
  margin-bottom: 10px;
}
#pubColumn > form > div > input {
  /* los 03 form input */
  background-color: var(--pub-formInput-bg-color);
  font-family: var(--pub-font-formInput);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17.5px;
  padding-left: 19px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
}
/* Imagen - start */
#pubColumn > img {
  /* imagen lado derecho */
  order: 1;
  width: 100%;
  max-width: 320px;
}
/* Imagen - end */

#formDP {
  /* form textarea */
  background-color: var(--pub-formInput-bg-color);
  font-family: var(--pub-font-formInput);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17.5px;
  padding-top: 10px;
  padding-left: 11px;
  width: 100%;
  height: 150px;
  border: none;
  border-radius: 10px;
}
#formBtn {
  /* form boton siguiente */
  color: var(--pub-formBtn-color);
  background-color: var(--orange-color);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.5px;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  margin-top: 40px;
}
#formBtn:hover {
  color: white;
  background-color: var(--pub-formBtn-hover-color);
}
/************** Versión mobile Publicacion de proyecto - end ***************/

/************** Versión Desktop Publicacion de proyecto - start ***************/
@media (min-width: 768px) {
  /* Icono flecha naranja - start */
  .btnGoBack {
    margin: 54px 0px 0px 70px;
  }
  /* Icono flecha naranja - end */

  #pubTitle {
    /* titulo: ¿De que trata tu proyecto? */
    font-family: var(--pub-font-title);
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48.6px;
    text-align: center;
    color: var(--pub-title-color);
  }

  #pubColumn {
    /* division en columnas Formulario / imagen */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 118px; /* distancia entre Titulo y Formulario */
    margin-bottom: 116px;
  }

  /* Imagen - start */
  #pubColumn > img {
    /* imagen lado derecho */
    order: 2;
    max-width: 500px;
  }
  /* Imagen - end */

  /* Formulario - start */
  #pubColumn > form {
    /* formulario */
    order: 1;
    max-width: 500px;
    border: 1px solid var(--orange-color);
    box-sizing: border-box;
    border-radius: 24px;
    padding: 46px 52px 51px 53px;
  }

  #pubColumn > form > div > label {
    /* todos los form label */
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  #pubColumn > form > div > input {
    /* los 03 form input */
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding-left: 19px;
    max-width: 500px;
    border-radius: 10px;
  }

  #formDP {
    /* form textarea */
    font-size: 18px;
    line-height: 25px;
    padding-top: 22px;
    padding-left: 19px;
    border-radius: 10px;
  }

  #formBtn {
    /* form boton siguiente */
    font-size: 20px;
    line-height: 26px;
    border-radius: 10px;
    height: 60px;
    max-width: 500px;
  }

  /* Formulario - end */

  /************** Versión Desktop Publicacion de proyecto - end ***************/
}
