/************** Custom Properties ***************/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
  --orange-color: #ff9d00;
  --white-color: #ffffff;
  --black-color: #000000;
  --title-color: #125e8a;
  --font-title: "Lora";
}
/************** Version Mobile - start ****************/
.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.btnGoBack {
  width: max-content;
  background-color: transparent;
  border: none;
  align-self: flex-start;
  margin-left: 20px;
}
.arrowOrange {
  width: 36px;
  margin-top: 32px;
}
.title--principal {
  width: 100%;
  color: var(--title-color);
  font-family: var(--font-title);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 35px;
}
.form-img {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#form-img > form {
  width: 300px;
  order: 2;
}
#form-img > form > div > label {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17.5px;
  color: black;
  margin-bottom: 8px;
}
#form-img > form > div > input {
  border: none;
  border-radius: 10px;
  background-color: #ffe7ba;
  font-size: 14px;
  height: 40px;
}
.label-select {
  display: flex;
  flex-direction: column;
}
.select {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #ffe7ba;
  font-size: 14px;
  padding: 14px;
  margin-bottom: 20px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='orange' height='34' viewBox='0 0 24 24' width='34' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 10px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}
.img-login {
  order: 1;
  width: 100%;
  max-width: 155px;
}
.btn--form {
  background-color: rgba(65, 211, 189, 1);
  width: 100%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #031d44;
  border-radius: 10px;
  margin-bottom: 20px;
}
ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.btnX {
  font-family: "Nunito";
  font-weight: 700;
  background-color: transparent;
  border: none;
  padding: 0px 0px 0px 5px;
}
.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 110px;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 14px;
  background-color: #ffd5a6;
  border: none;
  border-radius: 20px;
  padding: 8px;
  margin: 5px;
}
/************** Version Mobile -end ****************/

/************** version Desktop - start ***************/
@media (min-width: 768px) {
  .btnGoBack {
    width: max-content;
    background-color: transparent;
    border: none;
    align-self: flex-start;
    margin: 54px 0px 0px 70px;
  }
  .select {
    margin: 0px 0px 20px 0px;
  }
  .arrowOrange {
    width: 48px;
    margin: 0px;
  }
  .form-img {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
  }
  #form-img > form > div > label {
    font-size: 20px;
    line-height: 23.4px;
    margin-bottom: 8px;
  }
  #form-img > form {
    border: 1px solid #ff9d00;
    border-radius: 24px;
    padding: 36px;
    width: 100%;
    max-width: 500px;
    order: 1;
    margin-left: 20px;
  }
  .title--principal {
    max-width: 470px;
    font-size: 48px;
    line-height: 56px;
    margin-top: 0px;
  }
  .btn--form {
    width: 100%;
    font-size: 20px;
    line-height: 26px;
  }
  .btn--form:hover {
    color: white;
    background-color: #38ad9c;
  }
  .placeholder {
    color: #696871;
  }
  .img-login {
    order: 2;
    width: 100%;
    max-width: 450px;
    margin-left: 20px;
  }
}
